* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* LOGIN PAGE */
.login-body {
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.btn {
  display: block;
  margin-top: 12px;
  background: #4f46e5;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 6px;
}

.note {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  display: block;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  padding: 10px 0;
}

.main {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.table-box {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

table {
  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

th {
  background-color: #f9fafb;
  font-weight: bold;
}

tr:hover {
  background-color: #f3f4f6;
}
}